.main{
	width: 980px;
	margin: 0 auto;
	margin-top: 100px;
	font-size: 14px;
}
.title a:hover{
	color: #333;
}
.main-content{
	margin: 40px auto 0;
	width: 630px;

}
.main-content p{
	font-size: 16px;
	line-height: 24px;
}
.main-content p.time{
	color: #8b8989;
	font-size: 14px;
}
.main-content p.main-content-title{
	border-left: 2px solid #ec8400;
	line-height: 32px;
	font-size: 24px;
	padding-left: 5px;
}
.main-content p{
	margin: 10px 0;
}
.main-content img{
	width: 630px;
}
.fwb{
	font-weight: bold;
}
.author{
	margin-right: 20px;
}
.main-content .text-center{
	text-align: center;
	font-size: 12px;
}
